.button{
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    border: none;
    border-radius: 5rem;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.edit{
    background-image: url("../img/edit.svg"); 
}
.discard{
    background-image: url("../img/delete.svg"); 
}
.download{
    background-image: url("../img/download.svg"); 
}