$font-size: 10px;
$logo-height: 5rem;
$logo-margin-top: 3rem;
$container-margin-top: 3rem;
$tellonym-color: #FF0086;
@import './tellonym.scss';
@import './buttons.scss';
@import './settings.scss';
@import './login.scss';
@import './util.scss';
body{
    margin: 0;
    padding: 0;
    font-size: $font-size;
    overflow: hidden;
}
.header{
    margin-top: $logo-margin-top;
    display: flex;
    justify-content: center;
    
    &__logo{
        height: $logo-height;
    }
}
.container{
    margin-top: $container-margin-top;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__buttons{
        margin-top: 1rem;
        max-width: 40rem;
        display: flex;
        justify-content: space-evenly;
    }
}