$font-size: 10px;
@import './tellonym.scss';
@import './buttons.scss';
body{
    margin: 0;
    padding: 0;
    font-size: $font-size;
}
.header{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.header__logo{
    width: 16rem;
}
.container{
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__buttons{
    margin-top: 1rem;
    max-width: 40rem;
    display: flex;
    justify-content: space-evenly;
}