$font: SF Pro Text, Helvetica, Roboto, Arial, sans-serif;
$font-color: #CBCED3;
$tellonym-height: 20rem;
$time-font-size: 0.5rem;
$time-font-color: #7C838B;
$message-color: #1A222F;
$message-width: 15rem;
$message-height: 10rem;

.container__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.tellonym{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: $tellonym-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(0.94);
}
.message{
    width: $message-width;
    background-color: $message-color;
    font-family: $font;
    font-size: 0.8rem;
    color: $font-color;
    user-select: none;
}

.message__content{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    display: flex;
    justify-content: space-between;
}
.content__text{
    max-width: 700px;
    justify-self: flex-start;
    word-wrap: break-word;
}
.message__threedots{
    margin-top: 0.9rem;
    height: 1rem;
    justify-self: flex-end;
    align-self: flex-start;
}
.message__addons{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $time-font-size;
    color: $time-font-color;
}
.message__comment{
    width: 1rem;
}
@font-face {
    font-family: "San Pro Text";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-regular-webfont.woff");
  }